.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .contents {
    margin-top: 80px;
    // width: 70%;
    // border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    h1 {
      font-size: 60px;
    }

    .main-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 90%;
      gap: 24px;
      justify-content: space-between;

      p {
        max-width: 550px;
      }
    }

    .tech {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;

      gap: 20px;

      p {
        text-align: center;
      }

      .tech-items {
        // display: grid;
        // grid-template-columns: repeat(10, 1fr);
        // justify-content: center;
        // align-items: center;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        max-width: 800px;

        .item {
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            height: 60px;
            width: 60px;
          }
        }
      }
    }

    .codingprofile {
      display: flex;
      flex-direction: column;
      gap: 30px;
      align-items: center;

      h2 {
        font-size: 40px;
      }

      .coding-site {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 20px 40px;
        background: #1c1c22;
        border-width: 2px;
        border-style: solid;
        border-image: linear-gradient(-45deg, #373737, #212121, #373737) 1;
        border-radius: 5px;

        .coding-profile-details {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 20px;
        }

        .coding-profile-data {
          display: flex;
          flex-direction: row;
          gap: 20px;
        }

        a {
          color: #fff;
          transition: all 0.15s;
        }
        a:hover {
          scale: 1.1;
          color: #6185e0;
        }

        img {
          height: 60px;
          border-radius: 5px;
        }
      }
    }
  }

  @media (max-width: 880px) {
    .contents {
      margin-top: 50px;
      .main-info {
        flex-direction: column-reverse;

        p {
          text-align: center;
        }
      }

      .codingprofile {
        .coding-site {
          padding: 15px 20px;

          .coding-profile-data {
            gap: 10px;
          }
        }

        img {
          height: 48px;
        }
      }
    }
  }

  @media (max-width: 720px) {
    .contents {
      .tech {
        margin: 0 20px;
        p {
          text-align: center;
        }

        .tech-items {
          display: flex;
          flex-direction: row;
        }
      }

      .codingprofile {
        .coding-site {
          flex-direction: column;

          .coding-profile-data {
            gap: 20px;
          }
        }
      }
    }
  }

  @media (max-width: 600px) {
    .contents {
      h1 {
        font-size: 48px;
      }
      p {
        font-size: 16px;
      }
    }
  }

  @media (max-width: 480px) {
    .contents {
      .codingprofile {
        .coding-site {
          .codeforces {
            align-items: center;
            flex-direction: column;
          }
        }
      }
    }
  }

  @media (max-width: 420px) {
    .contents {
      .contents {
        h1 {
          font-size: 40px;
        }
        p {
          font-size: 16px;
        }
      }
    }
  }
}
