.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .contents {
    margin-top: 80px;
    width: 70%;
    // border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    h1 {
      font-size: 60px;
    }

    .main-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 90%;
      gap: 24px;
      justify-content: space-between;

      p {
        max-width: 550px;
      }
    }

    .tech {
      .tech-items {
        display: flex;
        flex-direction: row;
        .item {
          // border: 2px solid white;
        }
      }
    }

    .codingprofile {
      display: flex;
      flex-direction: column;
      gap: 30px;
      align-items: center;

      h2 {
        font-size: 40px;
      }

      .codeforces {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 20px 40px;
        background: #1c1c22;
        border-width: 2px;
        border-style: solid;
        border-image: linear-gradient(-45deg, #373737, #212121, #373737) 1;
        border-radius: 5px;

        ul {
          display: flex;
          flex-direction: row;

          li {
            text-decoration: none;
            list-style: none;
            // border: 1px solid #fff;
            padding: 16px 12px;
          }
        }

        a {
          color: #fff;
          transition: all 0.15s;
        }
        a:hover {
          scale: 1.1;
        }

        img {
          height: 60px;
          border-radius: 5px;
        }
      }

      .leetcode {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 20px 40px;
        background: #1c1c22;
        border-width: 2px;
        border-style: solid;
        border-image: linear-gradient(-45deg, #373737, #212121, #373737) 1;
        border-radius: 5px;

        ul {
          display: flex;
          flex-direction: row;

          li {
            text-decoration: none;
            list-style: none;
            // border: 1px solid #fff;
            padding: 16px 12px;
          }
        }

        a {
          color: #fff;
          transition: all 0.15s;
        }
        a:hover {
          scale: 1.1;
        }

        img {
          height: 60px;
          border-radius: 5px;
        }
      }
    }
  }
}
