.majorprojectcard {
  // border: 2px solid white;
  // display: flex;
  align-items: center;
  margin: 50px 0;

  .contents {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 13px;

    h2 {
      font-size: 40px;
    }

    p {
      font-size: 18px;
    }

    .techstack {
      display: flex;
      flex-wrap: wrap;
      max-width: 450px;
      column-gap: 10px;
      row-gap: 5px;
      color: #c5c5c5;
    }

    .links {
      display: flex;
      gap: 10px;
      .icon {
        font-size: 30px;
        color: #989898;
      }
    }

    .info {
      display: flex;
      flex-direction: row;
      padding: 30px 20px;
      gap: 10px;
      width: 642px;
      background: #1c1c22;
      box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.15);
      border-radius: 5px;

      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 1px;
      }
    }
  }
}

.majorprojectcard-normal {
  display: flex;
  flex-direction: row;

  .image {
    margin-left: -100px;
    z-index: -1;

    img {
      // height: 45vh;
      // width: 40vw;
      height: 342px;
      width: 648px;
    }
  }
}

.majorprojectcard-reverse {
  display: flex;
  flex-direction: row-reverse;

  .contents {
    align-items: flex-end;
    margin-left: -100px;

    z-index: 1;
  }
  .image {
    margin-left: -100px;
    z-index: -1;

    img {
      // height: 45vh;
      // width: 40vw;
      height: 342px;
      width: 648px;
    }
  }
}

@media (max-width: 1250px) {
  .majorprojectcard-normal,
  .majorprojectcard-reverse {
    flex-direction: column-reverse;
    // border: 2px solid white;

    .contents {
      margin-top: -150px;
      margin-left: 0;
      z-index: 1;

      .info {
        width: 630px;
      }

      // box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.2);
    }

    .image {
      margin-left: 0;

      img {
        mask-image: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.8) 0%,
          rgba(0, 0, 0, 1) 100%
        );
        -webkit-mask-image: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.8) 0%,
          rgba(0, 0, 0, 0.8) 100%
        );

        display: block;
      }
    }
  }
}

@media (max-width: 750px) {
  .majorprojectcard {
    .contents {
      p {
        margin-bottom: -12px;
      }
      margin-top: -100px;
      // border: 2px solid white;

      .techstack {
        max-width: 280px;
      }
      .links {
        font-size: 20px;
      }

      .info {
        padding: 24px 20px;
        width: 380px;
      }
    }
  }

  .majorprojectcard-normal,
  .majorprojectcard-reverse {
    .image {
      img {
        width: 390px;
        height: auto;
      }
    }
  }
}

@media (max-width: 440px) {
  .majorprojectcard {
    .contents {
      p {
        margin-bottom: -16px;
      }
      margin-top: -100px;

      .info {
        padding: 20px 16px;
        width: 330px;
      }
    }
  }

  .majorprojectcard-normal,
  .majorprojectcard-reverse {
    .image {
      img {
        width: 340px;
        height: auto;
      }
    }
  }
}
