.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .contents {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    // border: 2px solid white;
    width: 70%;
    justify-content: space-between;

    .content-left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 50px;

      .text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 10px;

        h1 {
          font-size: 60px;
        }
        a,
        p {
          font-size: 18px;
          max-width: 400px;
          color: #fff;
        }

        span {
          display: flex;
          gap: 10px;
          position: relative;
          div {
            width: 41px;
            height: 4px;

            background: linear-gradient(
              270deg,
              #ff8e57 0%,
              #fd696b 51.99%,
              #bb6bda 100%
            );

            position: absolute;
            right: 0;
            bottom: -6px;
          }
        }
      }
    }
    .content-right {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 15px;

      button {
        border: none;
      }

      .input-items {
        display: flex;
        flex-direction: column;
        gap: 10px;

        input {
          border: none;
          padding: 15px 20px;
          width: 400px;
          background: #1c1c22;
          border-radius: 4px;
          color: #fff;
          font-size: 16px;
          font-family: inherit;
        }
        input:focus {
          outline: none;
        }
        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
          -webkit-appearance: none;
          appearance: none;
          margin: 0;
        }
      }
    }
  }

  @media (max-width: 1300px) {
    .contents {
      align-items: center;
      flex-direction: column;
      gap: 80px;
    }
  }

  @media (max-width: 600px) {
    .contents {
      .content-left {
        .text {
          h1 {
            font-size: 48px;
          }
          a,
          p {
            font-size: 16px;
            max-width: 300px;
          }
        }
      }
      .content-right {
        .input-items {
          input {
            padding: 15px 20px;
            width: 300px;
            border-radius: 4px;
          }
        }
      }
    }
  }

  @media (max-width: 420px) {
    .contents {
      .content-left {
        .text {
          h1 {
            font-size: 40px;
          }
          a,
          p {
            font-size: 15px;
          }
        }
      }
    }
  }
}
