.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  // width: 1140px;
  width: 85%;
  margin: 0 auto;
  margin-top: 20px;

  // z-index: 999;
  // position: absolute;
  // border: 2px solid white;

  img {
    height: 50px;
    width: 58px;
  }

  .menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    font-weight: 500;
    font-size: 15px;

    .items {
      display: flex;
      gap: 10px;
      color: #fff;
      position: relative;
      div {
        display: none;
        width: 40%;
        height: 4px;

        background: linear-gradient(
          270deg,
          #ff8e57 0%,
          #fd696b 51.99%,
          #bb6bda 100%
        );

        position: absolute;
        right: 0;
        bottom: -8px;
      }

      .item-num {
        color: #f2994a;
      }
    }
  }

  .hamburger {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    gap: 20px;
    background: #1c1c22;
    padding: 15px 15px;
    border-radius: 50%;
    border: 1px solid #3e3333;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.5);

    .ham-icon {
      font-size: 24px;
    }
  }

  .ham-menu {
    position: absolute;
    z-index: 999;
    top: 80px;
    right: 48px;
    background: #1c1c22;

    padding: 30px 20px;
    border-radius: 5px;
    border: 1px solid #3e3333;
    background: #1c1c22;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    gap: 20px;
    font-size: 18px;

    .items {
      display: flex;
      gap: 10px;
      color: #fff;

      .item-num {
        color: #f2994a;
      }
    }
  }
  @media (max-width: 1200px) {
    width: 80%;

    p {
      font-size: 16px;
    }

    .menu {
      display: none;
    }
    .hamburger {
      display: flex;
    }
  }
}
