.card {
  width: 412px;
  height: auto;
  left: 254px;
  top: 407px;

  background: #1c1c22;
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.main-heading {
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */

  display: flex;
  align-items: center;
  letter-spacing: 0.02em;

  color: #ffffff;
}

.main-heading-2 {
  font-family: "Bai Jamjuree";
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  display: flex;
  align-items: center;
  letter-spacing: 0.02em;

  color: #ffffff;
}
.main-heading-3 {
  font-family: "Bai Jamjuree";
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  display: flex;
  align-items: center;
  letter-spacing: 0.02em;

  color: #ffffff;
}
.subheading-heading {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 2px 8px;
  gap: 10px;

  background: #373737;
  border-radius: 2px;
}
.subheading-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;
}

.subheading-content-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
}
