.experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  h1 {
    font-size: 60px;
    font-weight: 600;
  }

  .heading {
    margin-top: 70px;
    margin-bottom: 30px;
  }
}
