.rectangle{
    position: absolute;
        width: 5px;
        height: 1515px;
        left: 50vw;
        top: 199px;
    
        background: #737373;
}
.heading-experience{
    justify-content: center;
}

