.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 120px 0 20px 0;
  padding: 0 16px;
  font-weight: 500;
  color: #d8d8d8;

  p {
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
    gap: 10px;

    span {
      display: flex;
      align-content: center;
      justify-content: center;
      gap: 5px;
      // border: 2px solid white;

      .icon {
        font-size: 16px;
      }
    }
  }

  @media (max-width: 800px) {
  }
}
