@font-face {
  font-family: consolas;
  src: url(./font/CONSOLA.TTF);
}

.App {
  /* font-family: consolas; */
  font-family: "Bai Jamjuree", sans-serif;
  display: flex;
  /* justify-content: center;
  height: 95vh;
  align-items: center; */
  /* font-size: 50px; */
}
