.App {
  font-family: 'Bai Jamjuree', sans-serif;
  display: flex;
  /* justify-content: center;
  height: 95vh;
  align-items: center; */
  /* font-size: 50px; */
  cursor: url(assets/cursor.png), auto;
  position: relative;
}

.gradient__text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cta-btn {
  padding: 12px 25px;
  background: linear-gradient(
    89.98deg,
    #b16cea 0.02%,
    #fe5f68 51.52%,
    #ff9452 99.98%
  );
  border-radius: 120px;
  font-size: 18px;
  color: #fff;
  font-family: inherit;
  transition: all 0.2s;
}

.cta-btn:hover {
  cursor: url(assets/whitepointer.png), pointer;
  box-shadow: 0px -4px 4px rgba(255, 255, 255, 0.25),
    0px 4px 4px rgba(255, 255, 255, 0.2);
}

Link,
a {
  text-decoration: none;
  cursor: url(assets/pointer.png), pointer;
}

input:hover {
  cursor: url(assets/cursortext.png), text;
}
