* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #161513;
  color: #fff;
}

:root {
  --gradient-text: linear-gradient(
    89.98deg,
    #b16cea 0.02%,
    #fe5f68 51.52%,
    #ff9452 99.98%
  );

  --color-bg: #040c18;
  --color-footer: #031b34;
  --color-blog: #042c54;
  --color-text: #81afdd;
  --color-subtext: #ff8a71;
}

.gradient__text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

html {
  --scrollbarBG: #cfd8dc;
  --thumbBG: #272d3d;
  --scrollbarBlueBG: rgba(3, 137, 255, 0.7);
  --scrollbarOrangeBG: rgba(250, 145, 54, 0.7);
}

body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}
