.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .image {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-top: 70px;
    transition: all 0.2s;

    &:hover img {
      transform: scale(1.1);
    }

    img {
      height: 100%;
      width: 100%;
    }
  }

  h1 {
    font-size: 60px;
  }

  h3 {
    font-size: 24px;
  }

  .contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    p {
      font-size: 20px;
      font-weight: 500;
      max-width: 600px;
      text-align: center;
    }

    .details {
      font-weight: 400;
      margin: 16px;
    }

    .cta-buttons {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 20px;
      padding: 20px;

      .cta-btn-coffee {
        padding: 12px 25px;
        background: #434343;
        border-radius: 120px;
        font-size: 18px;
        color: #fff;
        font-family: inherit;
        transition: all 0.2s;
      }

      .cta-btn-coffee:hover {
        cursor: url(assets/whitepointer.png), pointer;
        background: #5f5f5f;
      }
    }

    .name {
      display: flex;
      flex-direction: column;
      gap: 5px;
      justify-content: center;
      align-items: center;
    }

    a,
    Link {
      font-weight: 600;
      font-size: 20px;
      color: #fff;
    }
  }

  @media (max-width: 880px) {
    .moving {
      width: 560px;
    }
  }

  @media (max-width: 600px) {
    h1 {
      font-size: 48px;
    }
    h3 {
      font-size: 20px;
      font-weight: 500;
    }
    p {
      font-size: 16px;
    }
    .moving {
      width: 360px;
    }
  }

  @media (max-width: 40px) {
    h1 {
      font-size: 40px;
    }
  }
}
